<head xmlns:th="http://www.w3.org/1999/xhtml" >
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>

</head>
<body>
<th:block th:include="fragments/menu :: menu"></th:block>
<div class="w3-container" style="width: 550px;">
    <h2>Introducerea unui Produs</h2>
    <form method="post" th:object="${newProdus}" th:action="@{/introducereProdus}">
        <label th:for="denumire">Nume:</label>
        <input class="form-control" th:field="*{denumire}" />
        <div class="alert alert-danger" th:if="${#fields.hasErrors('*')}">
            <span th:each="err : ${#fields.errors('*')}" th:text="${err}" />
        </div>

        <br>
        <input type="submit" class="btn btn-outline-primary col-lg-12" value="Inregistrare Produs" />

        <hr>

        <div class="alert alert-success" th:if="${#strings.isEmpty(rez) == false}" th:text="${rez}" />
    </form>
</div>
<th:block th:include="fragments/footer :: footer"></th:block>
</body>
</html>
