<html style="position: relative; min-height: 100%;" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>

</head>
<body>

<th:block th:include="fragments/menu :: menu"></th:block>
<div class="w3-container" style="width: 550px;">
    <h2>Introducerea notei unui student la o disciplina</h2>
    <form method="post" th:object="${newGrade}" th:action="@{/insertGrade}">
        <div class="form-group">

            <label th:for="student">Student:</label>
            <select class="form-control" th:field="*{student}">
                <option th:each="s : ${Students}" th:value="${s.id}"
                        th:text="${s.lastName}">
                </option>
            </select>

            <label th:for="course">Disciplina:</label>
            <select class="form-control" th:field="*{course}">
                <option th:each="c : ${Courses}" th:value="${c.id}"
                        th:text="${c.name}">
                </option>
            </select>

            <label th:for="grade">Nota: (nr. intreg)</label>
            <input class="form-control" th:field="*{grade}"/>
            <div class="alert alert-danger" th:if="${#fields.hasErrors('*')}">
                <span th:each="err : ${#fields.errors('*')}" th:text="${err}"/>
            </div>

        </div>

        <input type="submit" class="btn btn-primary" aria-pressed="false" value="Inregistrare operatie"/>
        <hr>
        <div class="alert alert-success" th:if="${#strings.isEmpty(rez) == false}" th:utext="${rez}"/>
    </form>
</div>
<th:block th:include="fragments/footer :: footer"></th:block>

</body>
</html>